
/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.html{
    font-size: 16px;
    @apply antialiased
}
.container{
    @apply w-auto
}
/* vue 过渡动画样式 */
.sale-fade-enter-active,
.sale-fade-leave-active {
  transition: all 0.3s ease;
}

.sale-fade-enter {
  transform: scale(0.97);
  opacity: 0;
}

.sale-fade-leave-to {
  transform: scale(1.03);
  opacity: 0;
}
